
<header class="header">
    <nav class="header__nav">

        <ul class="header__navList">
            <li class="header__navListItem">
                <a class="header__navLink" routerLink="" routerLinkActive="active">Home</a>
            </li>

            <li class="header__navListItem">
                <a class="header__navLink" routerLink="" routerLinkActive="active">Products</a>
            </li>

            @if (isAdmin) {
                       <li class="header__navListItem">
                <a class="header__navLink" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            }
        </ul>

        <ul class="header__navList">
            <li class="header__navListItem">

           
                <a class="header__navLink" routerLink="cart" routerLinkActive="active"><i class="fa-solid fa-cart-shopping"></i>
                
                    @if (this.product?.length > 0) {
                         <div class="header__cartNotify">
                    !
                </div>
                       }
                </a>
            </li>


            <li class="header__navListItem">

                @if(isLoggedIn){
                    <div class="header__userName">

 <app-dropdown [options]="menuItems"
    (openedDropdown)="getUserMenu()" [chosenOption]="chosenUserId" [placeholder]="user.name" >
</app-dropdown>
               
               

                        </div>
                }
                @else{

                    <a class="header__navLink" routerLink="/login" routerLinkActive="active"><i class="fa-solid fa-user"></i></a>
                }
                
            </li>
    
        </ul>
 
    </nav>

</header>


