@use "../../scss/colors.scss";

.header{
    background-color: colors.$purple;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;

    &__nav{
    width: 100%;
   
        display: flex;
        align-items: center;
        justify-content: space-between;
      
    }

    &__userName{
        display: flex;
        align-items: center;
        font-size: 1.8rem;
    }

    &__navList{
        
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

&__navListItem{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
   
    border-radius: 5px;
    transition: background-color 0.3s;
    &:hover{
        background-color: colors.$purple-dark;
    }
}

    &__navLink{
        color: #fff;
        text-decoration: none;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
        transition: background-color 0.3s;
        position: relative;
    
    }

    &__cartNotify{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1rem;
        width: 1rem;
        background: red;
        border-radius: 50%;
        font-size: 0.8rem;
        top: 20%;
        right:20%;
        transform: translate(50%, -50%);

    }
}

.header__navListItem--dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 150px;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    display: block;
}

.header__navListItem--dropdown.open .dropdown-menu {
    display: block;
}