@use '../../../scss/animations.scss';
@use '../../../scss/mixins.scss' ;

.toast {
  min-width: 40rem;
  max-width: 40rem;
  background: rgb(255, 255, 255);
  display: flex;
  gap: 2rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 5rem;
  overflow: hidden;
  padding-right: 3rem;
  @include animations.fade_from_right;

  &-anim {
    @include animations.fade_out;
  }

  &-green {
    outline: solid 0.4rem #00b928;
  }
  &-blue {
    outline: solid 0.4rem #3A7BFF;
  }
  &-orange {
    outline: solid 0.4rem orange;
  }
  &-red {
    outline: solid 0.4rem red;
  }

  &__container {
    position: fixed;
    right: 0rem;
    bottom: 3rem;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  &__type {
    border-radius: 5rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    min-width: 10rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &-green {
      background: #00b928;
    }
    &-blue {
      background: #3A7BFF;
    }
    &-orange {
      background: orange;
    }
    &-red {
      background: red;
    }

    &_icon {
      color: white;
      font-size: 4rem;
    }
  }

  &__text {
    width: 100%;

    & > h4 {
      font-weight: 400;
    }

    & > p {
      font-size: 1.6rem;
      color: #8A8A8A;
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;

    & > i {
      color: #8A8A8A;
      transition: mixins.$primary-hover;

      &:hover {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .toast {
    &-green {
      border: inset 0.8rem #00b928;
      outline: initial;

      h4 {
        color: #00b928;
      }
    }

    &-blue {
      border: inset 0.8rem #3A7BFF;
      outline: initial;

      h4 {
        color: #3A7BFF;
      }
    }

    &-orange {
      border: inset 0.8rem orange;
      outline: initial;

      h4 {
        color: orange;
      }
    }

    &-red {
      border: inset 0.8rem red;
      outline: initial;

      h4 {
        color: red;
      }
    }

    padding: 1rem 3rem;
    padding-right: 1rem;
    border-radius: 0;
    min-width: auto;
    max-width: 100%;

    p,
    i {
      color: #4f4f4f;
    }

    &__type {
      display: none;
    }

    &__close {
      align-items: start;
    }
  }
}
