<div class="toast__container">
  @for (toast of service.toasts; track toast.id) {
    <article
      class="toast"
      [ngClass]="'toast--' + toast.type"
      [id]="'toast-' + toast.id"
    >
      <i
        class="toast__icon fa-solid"
        [ngClass]="{
          'fa-check': toast.type === 'succes',
          'fa-bell': toast.type === 'message',
          'fa-triangle-exclamation': toast.type === 'warning',
          'fa-xmark': toast.type === 'error'
        }"
      ></i>

      <div class="toast__content">
        <h4>{{ toast.title }}</h4>
        <p>{{ toast.description }}</p>
      </div>

      <button class="toast__close" (click)="service.removeToast(toast.id)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </article>
  }
</div>
