<div
  class="dropdown__wrapper"
  (click)="isDropdownVisible = !isDropdownVisible; openEmit()"
 
  >
  <!-- (click)="isDropdownVisible = false" -->
  <button
    class="dropdown"
    [class.dropdown--open]="isDropdownVisible"
    [class.dropdown--green]="color()"
  >
    <span class="dropdown__label">
      {{ selectedLabel() || selectedOptionTitle || placeholder() || 'Select option' }}
    </span>
    <i
      class="fa-solid fa-chevron-down dropdown__icon"
      [class.dropdown__icon--open]="isDropdownVisible"
    ></i>
  </button>

  <div
    class="dropdown__menu"
    *ngIf="isDropdownVisible"
    [class.dropdown__menu--green]="color()"
  >
    @for (option of options(); track $index) {
      @if (option.visible !== false) {
        <div
          class="dropdown__option"
          [class.is-selected]="option.value === chosenOption() || option.value === selectedOption"
          [class.is-disabled]="option.disabled"
          [routerLink]="option.link"
          (click)="!option.link && optionSelect(option)"
        >
          {{ option.label }}
        </div>
      }
    }
  </div>
</div>
