
<section class="login">
    
    <form [formGroup]="form" class="login__form" action="" (ngSubmit)="submit()">
        <h1 class="login__title">Login</h1>
        <div class="login__formGroup">

            <label class="login__formLabel" for="">Email</label>
            <input class="login__formInput" formControlName="email" type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>

        <div class="login__formGroup">
            <label class="login__formLabel" for="">Password</label>
          
            <input class="login__formInput" formControlName="password" type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>


        <div class="login__buttons">
            <button class="login__registerBtn" routerLink="/register">register</button>
             <button class="login__loginBtn" type="submit" [disabled]="form.invalid">Login</button>
        </div>
    </form>

</section>