
  <li class="cards">
    <div class="cards__card">
        <div class="cards__container">          
            <img class="cards__img" [src]="product().image " alt="Card image cap">
            <div class="cards__body">
                <h5 class="cards__title">{{ product().title }}</h5>
                <p class="cards__text">{{ product().description }}</p>

                <button (click)="addToCard(product())" class="cards__button">Add to cart</button>
            </div>
        </div>
</div>
</li>