.form{
    height: 100%;


    &__group{

        &--submit{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            padding: 1rem 0;
        }
    
    }

    &__lable{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-weight: 400;
    }

    &__input{
        width: 100%;
        padding: 0.5rem;
        font-size: 1.8rem;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        box-sizing: border-box;
    }

    &__select{
        width: 100%;
        padding: 0.5rem;
        font-size: 1.8rem;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        box-sizing: border-box;
    }
    &__option{
        font-size: 1.8rem;
    }

    &__submitBtn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        padding: 0.5rem;
        font-size: 1.8rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #1c7dde;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darkgray;
        }
    }
}