//^ background colors
$blue: #0ba8b6;
$blue-light: #3fc2d0;
$blue-dark: #047a85;
$green:  #b7c317;
$green-light: #cad73a;
$green-dark: #939d01;
$light-grey: #F5F5F5;
$dark-grey: #343a40;
$green-grey: #324032;

//^ text
$white: #fff;
$black: #212529;
$grey: #c7c7c7