.headerImg{
    height: 50vh;
    width: 100%;

    background-image: url(../../../public/pexels-pixabay-315938.jpg);
    background-size: cover;
    background-position: center;

    
}


.products {
  padding: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    &__container {
      width: 100%;
      max-width: 132rem;

    }

    &__titleType{
      font-size: 2.5rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 2rem;
    }
  
    &__list {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.5rem;
      list-style: none;
     
    }
   
  }