
<section class="users">
    <!-- <div class="search"> 

        <input class="search__input" type="text" placeholder="search">

        <button class="users__addBtn">Add new</button>

    </div> -->
    <div class="card">
        <form class="filter__form" [formGroup]="form">
        <p-table
         #dt2
         [value]="users"
         dataKey="id"
         [rows]="10"
         [rowsPerPageOptions]="[10, 25, 50]"

     
         [paginator]="true"
         [globalFilterFields]="['name']"
         [tableStyle]="{ 'height': '100vh' }"
         [scrollHeight]="'60rem'"

     >
         <ng-template #caption>
             <div class="flex">
                <button class="users__addBtn">Add new</button>
             </div>
         </ng-template>
         <ng-template #header>
             <tr>
                 <th style="width:22%">Name</th>
                 <th style="width:22%">email</th>
             
                 <th style="width:22%">Status</th>
                 <th style="width:12%">Verified</th>
             </tr>
             <tr>
                 <th>
                    <input
                    class="input"
                    type="text"
                    pInputText
                    pKeyFilter="alpha"
                    (input)="dbOnFilterChange()"
                    placeholder="Voer uw zoek term in"
                    formControlName="name"
                    field="name"
                 
                  />
                 </th>
                 <th>
                    <input
                    class="input"
                    type="text"
                    pInputText
                    pKeyFilter="alpha"
                    (input)="dbOnFilterChange()"
                    placeholder="Voer uw zoek term in"
                    formControlName="email"
                    field="email"
                 
                  />
                 </th>

                 <th>
                     <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                         <ng-template #filter let-value let-filter="filterCallback">
                             <p-select
                            
                                 (onChange)="filter($event.value)"
                                 placeholder="Select One"
                                 [showClear]="true"
                             
                             >
                                 <!-- <ng-template let-option #item>
                                     <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                                 </ng-template> -->
                             </p-select>
                         </ng-template>
                     </p-columnFilter>
                 </th>
                 <th>
                     <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                 </th>
             </tr>
         </ng-template>
         <ng-template #body let-users>
             <tr>
                 <td>
                     {{ users.name }}
                 </td>

                 <td>
                    {{ users.email }}
                </td>
                
              
                
                 <td>
            {{users.is_admin}}
                 </td>


                 <td>
                    {{users.email_verified_at}}
                 </td>
             </tr>


         </ng-template>
         <ng-template #emptymessage>
             <tr>
                 <td colspan="5">No customers found.</td>
             </tr>
         </ng-template>
     </p-table>
        </form>
     </div>

</section>