<section class="users">
    <!-- <div class="search"> 

        <input class="search__input" type="text" placeholder="search">

        <button class="users__addBtn">Add new</button>

    </div> -->

<!-- @if (load) {
    <div class="users__spinner">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50">
    </mat-progress-spinner>
  </div>
} @else { -->

    <div class="users__container">
      <div class="users__header">
        <h1 class="users__title">Users </h1>
        <button class="users__addBtn" (click)="openModal('create')">Add new</button>
      </div>

      
      <form class="form" [formGroup]="form">
          <input class="users__searchInput" formControlName="name" type="text" name="" id="" (input)="dbOnFilterChange()">

          <div class="users__item" *ngFor="let item of users; let i = index">
            <div class="users__info">
              <p class="users__name">{{ item.name }}</p>
              <p class="users__email">{{ item.email }}</p>
            </div>
            <div class="users__status">
              <p class="users__statusText" [ngClass]="{ 'active': item.status == 1, 'inactive': item.status == 0 }">
                {{ item.status == 1 ? 'Active' : 'Inactive' }}
              </p>
            </div>
            <div class="users__actions">
              <button class="users__editBtn" (click)="EditUser(item)">Edit</button>
            </div>
          </div>

        </form>
     </div>

     <!-- } -->

</section>


  <app-user-modal [formdata]="formdata" [title]="title" (reload)="getData()" (loadingChange)="load = $event"></app-user-modal>
